@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
.font-custom {
  font-family: 'Inter', sans-serif;
}

/* Fix Background Issue */
html, body {
  background-color: #0A0A0A !important; /* Ensure it overrides default styles */
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents unwanted scrolling */
}

/* Add this CSS animation in your globals.css */
@keyframes fadeInText {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeInText {
  animation: fadeInText 2s ease-in-out forwards;
}
