@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
.font-custom {
  font-family: 'Inter', sans-serif;
}

/* Fix Background Issue */
html, body {
  background-color: #0A0A0A !important; /* Ensure it overrides default styles */
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Prevents unwanted scrolling */
  scroll-behavior: smooth;
}

/* Add this CSS animation in your globals.css */
@keyframes fadeInText {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeInText {
  animation: fadeInText 2s ease-in-out forwards;
}

@keyframes glitch {
  0% { text-shadow: 2px 2px 0px red, -2px -2px 0px blue; }
  25% { text-shadow: -2px -2px 0px red, 2px 2px 0px blue; }
  50% { text-shadow: 2px -2px 0px red, -2px 2px 0px blue; }
  75% { text-shadow: -2px 2px 0px red, 2px -2px 0px blue; }
  100% { text-shadow: 2px 2px 0px red, -2px -2px 0px blue; }
}

.animate-glitch {
  animation: glitch 0.2s infinite alternate;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

